header a {
    text-shadow: #111 0px 0px 10px;
    color:#fff
}

header a:hover, a:focus {
    text-decoration: none
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
